<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ymksun.dev.android_sample_app" >

    <application
        android:name=".AndroidSampleApp"
        android:allowBackup="true"
        android:icon="@drawable/sunflower_blossom_pot"
        android:label="@string/app_name"
        android:roundIcon="@drawable/sunflower_blossom_pot"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".activities.ListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>